@import "tailwindcss";

:root {
  --background: #1c0a00;
  --color-borders: #3a2010;
  --color-text: #f2e8d9;
}

@theme inline {
  /* COLORES DE FONDOS */
  --color-background: var(--background);

  /* COLORES DE BORDES */
  --color-borders: var(--color-borders);

  /* COLORES DE FUENTES */
  --color-text: var(--color-text);

  /* FUENTES */
  --font-bebasNeue: var(--font-bebasNeue);
  --font-lora: var(--font-lora);




}

body {
      background: var(--background);
      color: var(--foreground);
}

.word-spacing {  
  word-spacing: .7rem;
}